<!doctype html>
<!--
	Author by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/slick.css">
	<link href="../static/css/main.css" rel="stylesheet">
	<title>Author</title>
</head>
<body>

	<!-- Navigation -->
	<nav class="site-navigation">
		<div class="site-navigation-inner site-container">
			<img src="../static/images/logo.png">
			<div class="main-navigation">
				<ul class="main-navigation__ul">
					<li><a href="/">Home</a></li>
					<li><a href="/estadisticas">Estadisticas</a></li>
					<li><a href="/esports">eSports</a></li>
					<li><a href="/guias">Guias</a></li>
					<li><a href="/metas">Metas y Objetivos</a></li>
				</ul>
			</div>
			<div id="myBtn" class="burger-container" onclick="myFunction(this)">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
			<script>
				function myFunction(x) {
					x.classList.toggle("change");
				}
			</script>

		</div>
	</nav>
	<!-- Navigation end -->

	<!-- Top banner -->
	<section class="fh5co-top-banner">
		<div class="top-banner__inner site-container">
			<div class="top-banner__text">
				<div class="top-banner__text-up">
					<span class="brand-span">Bienvenido a....</span>
					<h2 class="top-banner__h2">FeelTheGame</h2>
				</div>
				<p>Aplicación web para el uso de Fortnite y League of Legends</p>
			</div>
		</div>
	</section>
	<!-- Top banner end -->

	<!-- About me -->
	<div id="headerwrap">
			<div class="container">
					<div class="row centered">
						{% block contenido1 %}{% endblock %}
					</div><!-- row -->
			</div><!-- container -->
	</div>
	<!-- About me end -->

	<!-- Books and CD -->
	
	<!-- Books and CD end -->

	<!-- Counter -->
	<!-- Counter -->

	<!-- Blog -->
	
	<!-- Blog end -->

	<!-- Quotes -->

	<!-- Quotes end -->

	<!-- Social -->

	<!-- Social -->

	<!-- Footer -->

	<!-- Footer end -->

	<!-- Scripts -->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/slick.min.js"></script>
	<script src="../static/js/main.js"></script>

</body>
</html>
