<!doctype html>
{% extends "base.html" %}
{% block esports %}
	<div class="campeones_gratis" style="background-image: url('../static/images/esport1.jpg')">
		<h1 style="color:yellow;">Torneos eSports</h1>
		<div>
			<br/>
			<h2>{{torneo['Nombre']}}</h2>
			<img src="{{torneo['Imagen']}}" width="150"/>
			<br/>
			{% for matches in enfrentamientos %}
				<div class="marco1">
					Enfrentamiento: {{matches['Enfrentamiento']}}
					<br/>
					Ganador: {{matches['Ganador']}}
					<br/>
					Tipo: {{matches['Tipo']}}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block esportslive %}
	<div class="campeones_gratis">
		<h1 style="color:yellow;">Torneos eSports en Vivo</h1>
		<div class="marco1">
			<br/>
				{% for lives in enfrentamientos_live %}
					Nombre Torneo: {{lives['Nombre']}}
					<br/>
					Enfrentamiento: {{lives['NombreMatch']}}
					<br/>
					Termina: {{lives['Termina']}}
					<br/>
				{% endfor %}
				{% for streamings in stream %}
					<a href="{{streamings['URLStream']}}">Link Hacia Streaming</a>
				{% endfor %}
		</div>
	</div>
{% endblock %}
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/slick.min.js"></script>
	<script src="../static/js/main.js"></script>

</body>
</html
