<!doctype html>
{% extends "base.html" %}
{% block esports %}
	<div id="esports" class="campeones_gratis" style="background-image: url('../static/images/esport1.jpg')">
		<h1 style="color:yellow;">Torneos eSports</h1>
		<div>
			<br/>
			<h2>{{torneo['Nombre']}}</h2>
			<img src="{{torneo['Imagen']}}" width="150"/>
			<br/>
			{% for matches in enfrentamientos %}
				<div>
					<p style="color:yellow;">
					Enfrentamiento: {{matches['Enfrentamiento']}}
					</p>
					<p style="color:yellow;">
					Ganador: {{matches['Ganador']}}
					</p>
					<p style="color:yellow;">
					Tipo: {{matches['Tipo']}}
					</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block esportslive %}
	<div class="campeones_gratis" style="background-image: url('../static/images/esport2.jpg')">
		<h1 style="color:yellow;">Torneos eSports en Vivo</h1>
		<div>
			<br/>
				{% for lives in enfrentamientos_live %}
					<p style="color:yellow;">
					Nombre Torneo: {{lives['Nombre']}}
					</p>
					<p style="color:yellow;">
					Enfrentamiento: {{lives['NombreMatch']}}
					</p>
					<p style="color:yellow;">
					Termina: {{lives['Termina']}}
					</p>
				{% endfor %}
				{% for streamings in stream %}
					<a href="{{streamings['URLStream']}}"><p style="color:yellow;">Link Hacia Streaming<p></a>
				{% endfor %}
		</div>
	</div>
{% endblock %}
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/slick.min.js"></script>
	<script src="../static/js/main.js"></script>

</body>
</html
