{% extends "base.html" %}
{% block contenido1 %}
	<div class="estadisticas_lolfort" style="background-image: url('../static/images/fortnite5.jpg')">
		<h1>Estadísticas Fortnite</h1>
		<div>
			<form action="/fortnite" method="post">
			<p>
			Cuenta: <input type="text" name="cuenta" autofocus required/>
			<select name="plataforma">
                		<option value="pc">Pc</option>
                		<option value="psn">PlayStation</option>
                		<option value="xbl">XBox</option>
        		</select>
			<input type="submit" value="Enviar" />
			</form>
		</div>
	</div>
{% endblock %}
{% block contenido2 %}
	<div class="estadisticas_lolfort" style="background-image: url('../static/images/leagueoflegends3.jpg')">
		<h1>Estadísticas League of Legends</h1>
		<div>
			<form action="/leagueoflegends" method="post">
			<p>
			Invocador: <input type="text" name="invocador" autofocus required/>
			<select name="region">
                		<option value="euw1">EUW</option>
                		<option value="eun1">EUNE</option>
                		<option value="br1">BR</option>
				<option value="jp1">JP</option>
                		<option value="kr">KR</option>
                		<option value="la1">LAN</option>
				<option value="la2">LAS</option>
                		<option value="na1">NA</option>
                		<option value="oc1">OCE</option>
				<option value="tr1">TR</option>
                		<option value="ru">RU</option>
        		</select>
			<input type="submit" value="Enviar" />
			</form>
		</div>
	</div>
{% endblock %}

