<!doctype html>
{% extends "base.html" %}
{% block fortnite %}
	<div class="campeones_gratis" style="background-image: url('../static/images/fortnite6.jpg')">
		<h2>Jugador: {{jugador}}</h2>
		<br/>
		<div>
					<table>
						<thead>
							<tr>
								<th>Tipo</th><th>Partidas Jugadas</th><th>Kills</th><th>Victorias</th><th>K/d</th><th>Puntuación</th><th>Victorias %</th>
							</tr>
						</thead>

						<tr>
							<td>General</td><td>{{datosf[0]['Matches Played']}}</td><td>{{datosf[0]['Kills']}}</td><td>{{datosf[0]['Wins']}}</td><td>{{datosf[0]['K/d']}}</td><td>{{datosf[1]['Score']}}</td><td>{{datosf[0]['Win%']}}</td>
						</tr>
						<tr>
							<td>Squad</td><td>{{datosf[1]['Matches']}}</td><td>{{datosf[1]['Kills']}}</td><td>{{datosf[2]['Wins']}}</td><td>{{datosf[1]['K/d']}}</td><td>{{datosf[2]['Score']}}</td><td>{{datosf[1]['Win %']}}%</td>
						</tr>
						<tr>
							<td>Duo</td><td>{{datosf[2]['Matches']}}</td><td>{{datosf[2]['Kills']}}</td><td>{{datosf[2]['Wins']}}</td><td>{{datosf[2]['K/d']}}</td><td>{{datosf[2]['K/d']}}</td><td>{{datosf[2]['Win %']}}%</td>
						</tr>
						<tr>
							<td>Solo</td><td>{{datosf[3]['Matches']}}</td><td>{{datosf[3]['Kills']}}</td><td>{{datosf[3]['Wins']}}</td><td>{{datosf[3]['K/d']}}</td><td>{{datosf[3]['Score']}}</td><td>{{datosf[3]['Win %']}}%</td>
						</tr>
					</table>
				</div>
		</div>
	</div>
{% endblock %}
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/slick.min.js"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>
