<!doctype html>
{% extends "base.html" %}
{% block fortnite %}
	<div class="campeones_gratis">
		<h1>Estadísticas Fortnite</h1>
		<div>
			<br/>
			<h2>Información General</h2>
			Partidas Jugadas: {{datosf[0]['Matches Played']}}
			<br/>
			Kills: {{datosf[0]['Kills']}}
			<br/>
			Victorias: {{datosf[0]['Wins']}}
			<br/>
			K/d: {{datosf[0]['K/d']}}
			<br/>
			Puntuación: {{datosf[0]['Score']}}
			<br/>
			Victorias%: {{datosf[0]['Win%']}}
			<br/>
			Top 6: {{datosf[0]['Top 6s']}}
			<br/>
			Top 12: {{datosf[0]['Top 12s']}}
			<br/>
			Top 25: {{datosf[0]['Top 25s']}}
			<h2>Información de Squads</h2>
			Partidas Jugadas: {{datosf[1]['Matches']}}
			<br/>
			Kills: {{datosf[1]['Kills']}}
			<br/>
			Victorias: {{datosf[1]['Wins']}}
			<br/>
			K/d: {{datosf[1]['K/d']}}
			<br/>
			Puntuación: {{datosf[1]['Score']}}
			<br/>
			Victorias%: {{datosf[1]['Win %']}}
			<br/>
			Top 10: {{datosf[1]['Top 10']}}
			<br/>
			Top 25: {{datosf[1]['Top 25']}}
			<h2>Información de Duos</h2>
			Partidas Jugadas: {{datosf[2]['Matches']}}
			<br/>
			Kills: {{datosf[2]['Kills']}}
			<br/>
			Victorias: {{datosf[2]['Wins']}}
			<br/>
			K/d: {{datosf[2]['K/d']}}
			<br/>
			Puntuación: {{datosf[2]['Score']}}
			<br/>
			Victorias%: {{datosf[2]['Win %']}}
			<br/>
			Top 10: {{datosf[2]['Top 10']}}
			<br/>
			Top 25: {{datosf[2]['Top 25']}}
			<h2>Información de Solo</h2>
			Partidas Jugadas: {{datosf[3]['Matches']}}
			<br/>
			Kills: {{datosf[3]['Kills']}}
			<br/>
			Victorias: {{datosf[3]['Wins']}}
			<br/>
			K/d: {{datosf[3]['K/d']}}
			<br/>
			Puntuación: {{datosf[3]['Score']}}
			<br/>
			Victorias%: {{datosf[3]['Win %']}}
			<br/>
			Top 10: {{datosf[3]['Top 10']}}
			<br/>
			Top 25: {{datosf[3]['Top 25']}}
		</div>
	</div>
{% endblock %}
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/slick.min.js"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>
